.navbar {
  display: flex;
  height: 7vh;
  background-color: rgb(226, 184, 136);
  justify-content: space-between;
}

.logo-link {
  overflow-y: hidden;
}

.logo {
  margin-top: 5px;
  margin-left: 10px;
  padding: 0;
  height: auto;
  max-width: 25%;
}

.nav-links {
  margin-top: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item {
  text-decoration: none;
  margin-right: 2em;
  color: white;
}

.nav-item__logout-btn {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-item__logout-btn:active {
  outline: none;
}

@media only screen and (max-width: 320px) {
  .navbar {
    height: 8vh;
  }

  .nav-links {
    margin: auto;
  }
}

@media only screen and (max-width: 400px) {
  .nav-item {
    margin-right: 5em;
  }
}

@media only screen and (max-width: 650px) {
  .nav-item {
    font-size: 12px;
  }
}
