.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 25%;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.post-form__edit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-btn__edit {
  margin: 2px;
}

.post-btn__comments {
  margin: 2px;
}

.post-btn__submit-update {
  margin-bottom: 5px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post__author__info {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 5px 5px;
}

.avatar-image {
  width: 25%;
}

.post__author {
  margin-left: 50px;
}

.post__content {
  padding: 0 10px;
}
