.post {
  display: flex;
  align-items: center;
  width: 75%;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  background: linear-gradient(45deg, #ca9c75, rgb(7 191 199));
}

.post--header {
  display: flex;
}

.avatar-image {
  width: 10%;
}

.post__author {
  margin-left: 10px;
}

.post__content {
  margin-left: 20px;
}

.post--btns {
  display: flex;
  margin: 0px 0px 5px 5px;
}

.btn {
  box-shadow: inset 0px 1px 0px 0px #fce2c1;
  background: linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
  background-color: #ffc477;
  border-radius: 6px;
  border: 1px solid #eeb44f;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 3px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #cc9f52;
  /* this width throws things off */
  /* width: 100%; */
  margin-left: 10px;
}

.btn:hover {
  background: linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
  background-color: #fb9e25;
}

.btn:focus {
  outline: none;
}

.post-form__edit {
  display: flex;
  justify-content: flex-start;
  margin-left: 25px;
  /* Throws things off */
  /* width: 75%; */
}

.post-btn__update {
  align-self: center;
}

.comment-form {
  display: flex;
  justify-content: flex-start;
  margin-left: 25px;
  /* Throws things off */
  /* width: 75%; */
}

.post-comment--btn {
  align-self: center;
}

.comments {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
